services:
  api:
    image: team1-job-app-backend:1.0.3
    container_name: job-app-backend
    ports:
      - "3001:3001"
    env_file: .env
    volumes:
      - ./jobApp.db:/app/jobApp.db
    environment:
      - NODE_ENV=development
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD",
          "node",
          "-e",
          "require('http').get('http://localhost:3001/', (r) => {if (r.statusCode !== 200) throw new Error(r.statusCode)})",
        ]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 10s
